@use "./../01-abstracts/" as *;

.article {
  position: relative;
  max-width: 400px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  @include breakpoint($lg) {
    max-width: 730px;
    flex-direction: row;
  }

  &__wrapper {
    padding: 74px 24px 81px;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    @include breakpoint($lg) {
      border-top-left-radius: 10px;
      border-top-right-radius: 0;
      border-bottom-left-radius: 10px;
      height: auto;
      max-width: 285px;
      object-position: left;
    }
  }

  &__container {
    padding: 36px 32px 20px;
    @include breakpoint($lg) {
      padding: 32px 40px;
    }
  }

  &__title {
    color: $very-dark-grayish-blue;
    font-weight: 700;
    font-size: rem(16px);
    line-height: rem(24px);
    letter-spacing: rem(0.2px);
    margin-bottom: 12px;
    @include breakpoint($lg) {
      font-size: rem(20px);
      line-height: rem(28px);
      letter-spacing: rem(0.25px);
    }
  }

  &__text {
    line-height: rem(20px);
    letter-spacing: rem(0.121875px);
  }

  &__footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 16px;
    min-height: 44px;
    margin-top: 32px;

    &--socials {
      margin-top: 20px;
    }
    @include breakpoint($lg) {
      margin-top: 20px;
      position: relative;
    }
  }

  &__info {
    margin-right: auto;
    line-height: rem(20px);
  }

  &__author {
    font-weight: 700;
    color: $very-dark-grayish-blue;
  }

  &__date {
    color: $grayish-blue;
  }

  &__avatar {
    width: 40px;
    border-radius: 100%;
    float: left;
  }

  &__button {
    position: relative;
    z-index: 2;
    border: none;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    padding: 5px 0 7px;
    color: $desaturated-dark-blue;

    &:hover {
      cursor: pointer;
    }

    &:active {
      transform: scale(0.9);
    }

    &--socials {
      background-color: $desaturated-dark-blue;
      color: white;
      top: 8px;
      @include breakpoint($lg) {
        top: 0;
      }
    }
  }

  &__icon-share {
    width: 15px;
    margin: auto;
  }

  &__socials {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $very-dark-grayish-blue;
    width: 100%;
    height: 64px;
    color: $grayish-blue;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 16px;
    padding: 16px 32px;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    &-li:first-child {
      margin-right: 5px;
    }

    @include breakpoint($lg) {
      border-radius: 10px;
      box-shadow: 0px 10px 10px rgba(201, 213, 225, 0.503415);
      max-width: 248px;
      left: unset;
      right: calc((248px - 32px) / -2);
      bottom: 64px;
      height: unset;
      padding: 18px 36px 17px;
    }
  }
}
